$background-color: #fff; 
$primary-color: #7086a4; 
$secondary-color: #1a1a1a; 
$white-color: #fff; 
$first-color: #3b3b3b; 
$second-color: #B3B3B3; 
$blue-color: #627afe; 
$blue-hover-color: #546dfe; 
$grey-color: #cad2ff; 
$torquoise-color: #b9edee; 
$torquoise-colorr: #44cdd2; 
$torquoise-hover-colorr: #2dbcc4; 
$red-color: #ff5e5e; 
$light-red-color: #ffc4c4; 
$light-red-hover-color: #f23c3c; 
$light-grey-color: #eee; 
$light-dark-color: #333; 